.addPan {
  text-align: right;
  margin: 10px;
  display: flex;
  justify-content: flex-end;

  .btn {
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 600;
    margin: 0 5px;
  }
  .btn {
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 600;
    margin: 0 5px;
  }

  .form_control {
    width: auto;
    height: 38px;
    font-size: 15px;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: #1a1616;
  }

  select {
    padding-right: 26px;
  }
}
.bg_blue {
  background-color: #2368ca;
  color: #fff;
}
.faq_body {
  word-wrap: break-word;
}
.faq_list > div {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.faq_list > div:last-child {
  border: unset;
}
.text_primary {
  color: black;
  font-weight: 600;
}
.fs_6 {
  font-size: 6;
}
#bg_blue {
  background-color: #2368ca;
  color: #fff;
}
.is_invalid {
  border-color: #dc3545;
  color: #dc3545;
}
#question {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
  color: black;
}

/* modal css */
