.mainDiv {
    width: 257px;
    height: 45px;
    display: flex;
    column-gap: 20px;
    padding-left: 25px;
    cursor: pointer;
}


.subDiv1>img {
    width: 45px;
    height: 45px;
    border-radius: 50px;
}

.subDiv2>h1 {
    color: #3A4181;
    margin-top: 1px;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.subDiv2>p {
    color: #878787;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}